.todo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  padding-left: 12px;
}

.todo-container:hover {
  background-color: rgb(187, 188, 190);
  border-radius: 16px;
}

.todo-container:active {
  background-color: rgb(128, 165, 239);
  border-radius: 16px;
}

.todo {
  flex-basis: 80%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  cursor: default;
}
.icon:hover {
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

.icons {
  margin-right: auto;
  margin-left: auto;
}

.icons button {
  border: none;
  background-color: transparent;
}

.icons button:hover {
  color: white;
  cursor: pointer;
}

.title {
  font-style: italic;
  text-decoration: underline;
}

.title:hover {
  transform: scale(1.2);
  transform-origin: left;
  cursor: pointer;
}

.complete-before {
  margin-top: 3px;
  justify-content: space-between;
  display: flex;
}

.paperclip {
  color: black;
}
